* {
    margin: 0;
}

* {
    margin: 0;
}

.nav-space {
    height: 80px;
    padding: 0;
    width: 100%;
    background-color: black;
}

.section-space1 {
    background-image: url('images/BANNER1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-space1-mobile {
    display: none;
    background-image: url('images/homem-ligado-cafe-racer-estilo-motocicleta_23-2148189618.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (min-width:350px) and (max-width:390px) {
    .section-space1 {
        display: none;
    }

    .section-space1-mobile {
        display: block;
    }










}