* {
    margin: 0;
}

* {
    margin: 0;
}



.section-space1 {
    background-image: url('images/banner1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space1 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 18px;
    margin-top: 90px;
    text-shadow: 0px 1px 0px red;
    height: 70px;
    width: 360px;
    margin-left: 120px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space1-mobile {
    display: none;
    background-image: url('images/mobile1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile1 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 14px;
    margin-top: 50px;
    text-shadow: 0px 1px 0px red;
    height: 70px;
    width: 360px;
    margin-left: 10px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space2 {
    background-image: url('images/banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space2 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    text-shadow: 0px 1px 0px red;
    height: 70px;
    width: 360px;
    margin-left: 120px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space2-mobile {
    display: none;
    background-image: url('images/mobile2.1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile2 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 10px;
    margin-top: 120px;
    text-shadow: 0px 1px 0px red;
    height: 120px;
    width: 100px;
    margin-left: 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space3 {
    background-image: url('images/banner3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space3 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    text-shadow: 0px 1px 0px red;
    height: 70px;
    width: 360px;
    margin-left: 900px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space3-mobile {
    display: none;
    background-image: url('images/mobile2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile3 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 10px;
    margin-top: 120px;
    text-shadow: 0px 1px 0px red;
    height: 120px;
    width: 100px;
    margin-left: 260px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space4 {
    background-image: url('images/banner3.4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space4 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    text-shadow: 0px 1px 0px red;
    height: 300px;
    width: 500px;
    margin-left: 700px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space4-mobile {
    display: none;
    background-image: url('images/mobile3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile4 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 12px;
    margin-top: 50px;
    text-shadow: 0px 1px 0px red;
    height: 150px;
    width: 280px;
    margin-left: 50px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space5 {
    background-image: url('images/banner4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space5 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    text-shadow: 0px 1px 0px red;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space5-mobile {
    display: none;
    background-image: url('images/mobile4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile5 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 10px;
    margin-top: 20px;
    text-shadow: 0px 1px 0px red;
    height: 150px;
    width: 280px;
    margin-left: 50px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space6 {
    background-image: url('images/banner5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space6 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    text-shadow: 0px 1px 0px red;
    height: 300px;
    width: 500px;
    margin-left: 800px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space6-mobile {
    display: none;
    background-image: url('images/mobile5.4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile6 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 13px;
    margin-top: 50px;
    text-shadow: 0px 1px 0px red;
    height: 150px;
    width: 280px;
    margin-left: 50px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space7 {
    background-image: url('images/banner6.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-space7 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 22px;
    margin-top: 20px;
    text-shadow: 0px 1px 0px red;
    height: 300px;
    width: 500px;
    margin-left: 840px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section-space7-mobile {
    display: none;
    background-image: url('images/mobile5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#historia-mobile7 {
    position: absolute;
    color: white;
    display: flex;
    font-size: 13px;
    margin-top: 50px;
    text-shadow: 0px 1px 0px red;
    height: 150px;
    width: 280px;
    margin-left: 50px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

@media (min-width:350px) and (max-width:390px) {
    .section-space1 {
        display: none;
    }

    .section-space1-mobile {
        display: block;
    }

    .section-space2 {
        display: none;
    }

    .section-space2-mobile {
        display: block;
    }

    .section-space3 {
        display: none;
    }

    .section-space3-mobile {
        display: block;
    }

    .section-space4 {
        display: none;
    }

    .section-space4-mobile {
        display: block;
    }

    .section-space5 {
        display: none;
    }

    .section-space5-mobile {
        display: block;
    }

    .section-space6 {
        display: none;
    }

    .section-space6-mobile {
        display: block;
    }

    .section-space7 {
        display: none;
    }

    .section-space7-mobile {
        display: block;
    }



}

@media (min-width:360px) and (max-width:370px) {


}